/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
    padding: -5px 1210 ;
    height: 70px;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img {
    width: 90px;
    height: 90px;
    
}
.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: #626262;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 60%;
    height: 2px;
    border-radius: 10px;
    background-color: #ff6347;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart i{
    color: #626262;
    font-size: 20px;
    cursor: pointer;
}
.nav-login-cart button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -45px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-user {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
}

.nav-user-name {
    padding: 4px 6px;
}

.nav-user-dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 1000;
    min-width: 100px;
}

.nav-user-dropdown button {
    background: none;
    border: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.nav-user-dropdown button:hover {
    color: #ff4d4f;
}